# Configuration MongoDB
MONGO_URI=your_mongodb_connection_string

# Configuration Frontend
FRONTEND_URL=https://www.mdmcmusicads.com
CORS_ORIGIN=https://www.mdmcmusicads.com

# Configuration JWT
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_EXPIRE=30d
JWT_REFRESH_EXPIRE=7d
JWT_COOKIE_EXPIRE=30

# Configuration Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

# Configuration Email
EMAIL_HOST=smtp.mailgun.org
EMAIL_PORT=587
EMAIL_FROM=postmaster@yourdomain.com
EMAIL_USER=postmaster@yourdomain.com
EMAIL_PASSWORD=your_email_password
EMAIL_FROM_NAME="Your App Name"
SIMULATOR_RECIPIENT_EMAIL=contact@yourdomain.com

# Configuration Brevo Newsletter
BREVO_API_KEY=your_brevo_api_key_here

# Configuration API
VITE_API_URL=https://your-backend-url.com/api/v1

# Environnement
NODE_ENV=production